@font-face {
    font-family: Kewl;
    src: url(../fonts/jellee.roman.ttf);
}

@font-face {
    font-family: Popi;
    src: url(../fonts/Aller\ Display.ttf);
}



a{
    text-decoration: none;
    color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Kewl;
}

section.name{
    display : flex;
    width: 100vw;
    justify-content: flex-start;
    padding-top: 30px;
}

header.design1{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    color: white;
    background-image: url(../img/jabee.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }   


    & img{
        height : 60px;
    }

    & p{
        font-size: 35px;
        margin : none;
    }

.box{
     display: flex;
     justify-content: flex-start;
    }
   
#box1{
     height : 60px;
     padding-left: 30px ;
     align-items: center;
    }

#nav1 {
    padding-right: 140px;
}

header.design1 button{
        margin-left: 15px;
        font-family: Kewl;
        font-size: 17px;
        color: darkred;
        border-radius: 10px;
        border: none;
        height: 30px;

    }

header.design2{
        display: flex;
        width: 80vw;
        justify-content: space-between;
        padding: .7rem 10vw;
        align-items: center;
        background-color: red;
        color: white;
        font-family:Arial Black;
    }   

    & .design2.img{
        height: 30px;
        margin: none;
    }

    & .design2.p{
        margin: none;
        padding-left: 10px;
    }

#box2{
        height : 60px;
        padding-left: 30px ;
        align-items: center;
       }

#box3{
        padding-right: 20px;
        padding-left: 20px;
        height : 60px;
        align-items: center;
        border-radius: 20px;
        border: 4px #ffc400 solid;
        color: white;
        background-color: #ffc400;
       }


#nav2 {
        padding-right: 30px;
        
    }

.icon-container img {
        filter: invert(100%);
      }
header.design2 button {

        margin-left: 15px;
        border: none;
        background-color: rgba(0,0,0,0);
        font-family: Arial Black;
        color: white;
        font-size: 20px;

    }

header.design3{
        display: flex;
        width: 80vw;       
        justify-content: center;
        padding: 0.9rem 10vw;
        align-items: center;
        color: white;
        font-family:Arial Black;
        background-image: url(../img/burgir.jpg);
        background-repeat: no-repeat;
        background-position: 0px -80px;
        background-attachment: fixed;
        background-size: cover;
    }   

    header.design3 img{
        transform: scale(1.5);
        

    }

    .image-container {
        background-color: white;
        display: inline-block; 
        padding: 16px; 
        border-radius: 150px;
      }
      

    #nav3 {
        padding-right: 60px;
        color: white;
        
    }
    #nav4 {
        padding-left: 60px;

    }

header.design3 button {

        margin-left: 45px;
        border: none;
        background-color: black;
        color: white;
        font-family: Arial Black;
        font-size: 20px;
        border-radius: 20px;

    }


header.design4{
        display: flex;
        width: 80vw;
        justify-content: space-between;
        padding: .7rem 10vw;
        align-items: center;
        color: white;
        font-family: Popi;
        border: 4px rgba(255, 174, 0, 0.829) solid;
        background-image: url(../img/popi.jpg);
        background-repeat: no-repeat;
        background-position: 0px -80px;
        background-attachment: fixed;
        background-size: cover;
    }

#box4{
        height : 60px;
        padding-left: 30px ;
        align-items: center;
       }

.image-containera {
        background-color: white;
        display: inline-block; 
        padding: 12px; 
        border-radius: 150px;
      }
      
      & .design4 p{
        padding-left: 10px;
      }

#box5{
        height : 60px;
        width: 450px;
        align-items: center;
        margin-right: 80px;
       }

.design4 input{
    display : flex;
    flex: 1;
    height: 40px;
    border: 4px rgba(255, 174, 0, 0.829) solid;
    border-radius: 100px;
    padding-left: 15px;
}


.design4 ::placeholder {
    
    color: black
}


header.design5{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    padding: .7rem 10vw;
    align-items: center;
    background-color: green;
    color: white;
    font-family:Arial Black;
}   


#box6{
    height : 60px;
    width: 100px;
    align-items: center;
    margin-right: 80px;
}

#box7{
    height : 60px;
    width: 250px;
    align-items: center;
    margin-left: 80px;
}

#box7 img{
    padding-left: 10px;
}

#nav5{
    padding-left: 60px;
    
}

.design5 button{
    padding-left: 15px;
    border: none;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.icon-containerr img {
    padding-right: 30px;
  }

.icon-containert img {
    filter: invert(100%);
    padding-right: 15px;
  }

.icon-containerx img {
    filter: invert(100%);
    transform: scale(1.5);
  }
