@font-face {
    font-family: Kewl;
    src: url(../fonts/jellee.roman.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Kewl;
}

section.name{
    display : flex;
    width: 100vw;
    justify-content: flex-start;
    padding-top: 30px;
}

header.design1{
    display: flex;
    width: 80vw;
    justify-content: space-between;
    padding: .7rem 10vw;
    align-items: center;
    background-color: darkred;
    color: white;
}

    & img{
        height : 60px;
    }

    & p{
        font-size: 35px;
        margin : none;
    }

.box{
     display: flex;
     justify-content: flex-start;
    }
   
#box1{
     height : 60px;
     padding-left: 30px ;
     align-items: center;
    }

#nav1 {
    padding-right: 140px;
}

header.design1 button{
        margin-left: 15px;
        font-family: Kewl;
        font-size: 17px;
        color: darkred;
        border-radius: 10px;
        border: none;
        height: 30px;

    }

header.design2{
        display: flex;
        width: 80vw;
        justify-content: space-between;
        padding: .7rem 10vw;
        align-items: center;
        background-color: red;
        color: white;
        font-family:Arial Black;
    }   

    & .design2.img{
        height: 30px;
    }

    & .design2.p{
        margin: none;
    }

#box2{
        height : 60px;
        padding-left: 30px ;
        align-items: center;
       }

#nav2 {
        padding-right: 140px;
        
    }

header.design2 button {

        margin-left: 15px;
        font-family: Arial Black;
        font-size: 17px;
        color: red;
        border:yellow solid;
        height: 45px;

    }
    



